.logo-name{
 font-family:'Times New Roman', Times, serif;
  font-weight: 500;
  color:black;
  font-size: 20px; 
  padding-top: 7px;

}
.logo{
    font-size: larger;
}

.ticker-container {
    overflow: hidden;
    white-space: nowrap;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    max-width: 100vw;
  }

  .ticker-move {
    display: inline-block;
    animation: ticker 30s linear infinite;
    color: white;
  }

  @keyframes ticker {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  .ticker-text {
    color: white;
    font-family:Helvetica, Arial, sans-serif;
    font-weight:600;
    font-size: 13px;
    padding-right: 60px; /* space between each repeated sentence */
  }
  .main-nav{
    color:red;
  }
